#profile div {
    width: 48%;
    height: 120px;
    border-radius: 5px;
    margin: 9px 146px;
    background-color: #37c8ec8a;
    box-shadow: 1px 1px 4px;
    
}
body{
    overflow-x: hidden;
}

#profile div img {
    margin: 7px;
    width: 11%;
    position: relative;
    left: 41px;
    top: 26px;
    border-radius: 50%;
    background-color: #ECECEC;
}

#profile div h3 {
    position: relative;
    left: 23%;
    bottom: 38px;
    font-size: 25px;
    font-weight: bold;
    width: 40%;
}

#profile div p {
    margin: 0px;
    width: 17%;
    position: relative;
    left: 83%;
    bottom: 34px;
}

/* #profile div {
    animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    transition: 1s;
} */

#profile div:hover{
    transition: all .5s ease-in-out;
  transform: scale(1.02);
}
@keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  


main img {
    width: 100%;
}

#sideBar {
    width: 120px;
    height: 100vh;
    position: sticky;
    z-index: -1;
    top: 19px;
    left: 10px;
    background: #2267A5;
    float: left;
}

main h1 {
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    margin: 8%;
}

h4 {
    width: 14%;
    position: relative;
    left: 23%;
    bottom: 28px;
    font-size: 19px;
}

body {
    background-image: url('../icon/profileCover.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right bottom;
}
#hero{
    width: 100%;
}

#whiteSpace{
    margin: 6%;
}