 #parentdiv0,#parentdiv1,#parentdiv2{

border-radius: 25px;
width: 90%;
height: inherit;
content: "";
  display: table;
  clear: both;
  padding-bottom: 500px;
  margin: 50px;
  background-color: #ECECEC;

  
}

#chart0,#chart2,#chart4{
  float: left;
  padding: 10px;
  height: 300px;
  width: 60%;
}
#chart1,#chart3,#chart5{
  float: right;
  padding: 8px;
  height: 200px;
  width: 25%;
 
}

main{
  text-align: center;
  margin-left: 100px;

  
}
body{
  background-color: rgba(95, 158, 160, 0.103);
}



h2 {
  width: 144px;
  height: 50px;
  padding-top: 20px;
  text-align: center;
  margin-top: 24px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  background-color: #e22d20ab;
}